# fly.toml app configuration file generated for ailee-protocol-core-for-bitcoin on 2026-02-14T18:07:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ailee-protocol-core-for-bitcoin'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
